{% extends 'base.html' %}

{% block content %}



<div class="row justify-content-center align-items-center">
    <div class="col-auto">
    <table class="table table responsive">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Цена</th>
          <th scope="col">Описание</th>
        </tr>
      </thead>

      <tbody>
          <tr>

              <td>{{item.pars_datetime}}</td>
              <th scope="row"><a href={{item.link}}>{{item.price}}</a></th>
              <td>{{item.description}}</td>
          </tr>

      </tbody>
    </table>
    </div>
</div>

{% endblock %}


